{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 70,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/store/(.*)$",
    "^@/services/(.*)$",
    "^@/components/(.*)$",
    "^@/screens/(.*)$",
    "^@/ui/(.*)$",
    "^@/shared/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/constants/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}